<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.mapper.WsUserMapper">
    <!-- User的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_User_Map" type="com.lp.entity.WsUser">
        <id column="id" property="id" />
        <result column="username" property="userName" />
        <result column="password" property="passWord" />
    </resultMap>

    <!-- 数据库中表名为:user的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="user_Column">
        ws_user.id as id
        ,ws_user.username as userName
        ,ws_user.password as password
    </sql>

    <!-- 通过User的id获得对应数据库中表的数据对象-->
    <select id="getUserInfo" parameterType="java.lang.Integer" resultMap="result_User_Map">
        select
        <include refid="user_Column" />
        from ws_user
        where ws_user.id = #{id}
    </select>

</mapper>